.pad {
    background-color: blue;
    border: 0px;
    margin: 0px;
    padding: 0px;
    flex:0 0 auto;
}
 .filled {
    background-color: black;
}

#container {
    display:flex;
    width:960px;
    height: 960px;
    background-color: aqua;
    grid-gap: 0px 0px;
    gap:0px 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}